.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px;
  gap: 10px;

  width: 440px;
  height: 69px;

  background: #fc728b;
  border-radius: 6px;

  flex: none;
  order: 4;
  align-self: stretch;
  flex-grow: 0;

  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  border: none;
  color: #202433;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.button:hover {
  background-color: #ff8ba3;
  cursor: pointer;
}

.button:active {
  background-color: #f96578;
}

.button:disabled {
  background-color: #c5c5c5;
  color: #999999;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .button {
    width: 100%;
    margin: 10px 0;
  }
}
