.toggle-language-button {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #202433;
  background: none;
  cursor: pointer;
}
